<a href="/uploadPage/" class="root-link">上传图片</a>
<a href="/add/" class="root-link">菜单上传</a>
<a href="/checkMenu/" class="root-link">查看菜单</a>
<a href="/indexUpdate/" class="root-link">首页图文上传</a>
<a href="/blogUpdate/" class="root-link">美食日志上传</a>
<a href="/checkBlog/" class="root-link">查看日志</a>
<a href="/addCoupon/" class="root-link">添加优惠券</a>
<a href="/checkCoupon/" class="root-link">查看优惠券</a>
<a href="/checkOrder/" class="root-link">查看订单</a>
<a href="/checkUser/" class="root-link">查看用户</a>
<a href="/checkTip/" class="root-link">修改温馨提示</a>