<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="/static/media/css/index.css">
		<!--[if IE]>
		<script type="text/javascript" src="/static/media/js/html5.js"></script>
		<![endif]-->
	</head>
	<body class="noSession">
		<header>
			<div class="container">
				<a class="logo" href="/media/"><img src="/static/media/images/logo.png"></a>
				<span><i></i>400 817 9869 转 999</span>
			</div>
		</header>
		<div class="wrapper">
			<section class="register">
				<div class="register-container">
					<h2>注册收入管理系统</h2>
					<div class="mail">
						邮箱(必填)
						<input type="text" placeholder="例：12345678@qq.com" >
					</div>
					<div class="password">
						密码(必填)
						<input type="password" placeholder="字母，数字相结合，8-20位">
					</div>
					<div class="re-password">
						确认密码(必填)
						<input type="password" placeholder="请保证两次密码填写一致">
					</div>
					<div class="name">
						姓名(必填)
						<input type="text" placeholder="请填写您的真实姓名">
					</div>
					<div class="wechat">
						个人微信ID(必填)
						<input type="text" placeholder="此信息不可改，请填写您的真实个人微信ID" >
					</div>
					<div class="account">
						公众号名称(必填)
						<input type="text" placeholder="请填写您的公众号名称">
					</div>
					<div class="type">
						自媒体账号定位
						<input type="text" placeholder="例：科技类、汽车类、生活类等">
					</div>
					<div class="media-people">
						自媒体介绍
						<textarea placeholder="例：请填写您的公众号功能介绍"></textarea>
					</div>
					<div class="media-attribute">
						用户属性介绍
						<textarea placeholder="例：请填写您的用户属性，如年龄划分、内容定位等"></textarea>
					</div>
					<div class="desc">
						运营者介绍
						<textarea placeholder="例：请填写运营者信息"></textarea>
					</div>
					<div class="fans">
						粉丝数
						<input type="text" placeholder="请填写真实数据">
					</div>
					<div class="social">
						朋友圈通讯录
						<input type="text" placeholder="请填写真实数据">
					</div>
					<a class="register-button">注册</a><span>点击注册，表示您同意<a href="/media/sign/" target="_blank">WeMedia用户协议</a></span>
				</div>
			</section>
		</div>
		<footer>
			<div class="container">
				京ICP备13045368号-2 /北京市公安局朝阳分局 Copyright@2006-2015
			</div>
		</footer>
		<script src="/static/media/js/jquery.js"></script>
		<script src="/static/media/js/min/index-min.js"></script>
		<script src="/static/media/js/placeholders.min.js"></script>
	</body>
</html>
