<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="/static/media/css/index.css">
		<!--[if IE]>
		<script type="text/javascript" src="/static/media/js/html5.js"></script>
		<![endif]-->
	</head>
	<body class="noSession">
		<header>
			<div class="container">
				<a class="logo" href="/media/"><img src="/static/media/images/logo.png"></a>
				<span><i></i>400 817 9869 转 999</span>
			</div>
		</header>
		<div class="wrapper">
			<section class="email-validation">
				<img src="/static/media/images/mail.png">
				<p>
					已发送验证邮件。<br/>
					请登录邮箱 <a class="mail">{{ mail }}</a> 并按邮件提示操作
				</p>
				<a class="email-button">立即登录邮箱验证</a>
			</section>
		</div>
		<footer>
			<div class="container">
				京ICP备13045368号-2 /北京市公安局朝阳分局 Copyright@2006-2015
			</div>
		</footer>
		<script src="/static/media/js/jquery.js"></script>
		<script src="/static/media/js/min/index-min.js"></script>
	</body>
</html>
