<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="/static/media/css/index.css">
		<!--[if IE]>
		<script type="text/javascript" src="/static/media/js/html5.js"></script>
		<![endif]-->
	</head>
	<body class="hasSession">
		<header>
			<span class="mobile-nav"></span>
			<div>
				<i></i>欢迎<a class="user">{{ user.name }}</a><a class="logout" href="/media/logout/">退出</a>
			</div>
		</header>
		<nav>
			<a href="/media/"><img src="/static/media/images/main_logo.png" class="main-logo"></a>
			<ul>
				<li class="border"></li>
				<li class="nav1 nav"><a href="/media/"><i></i>接单汇总表</a></li>
				<li class="border"></li>
				<li class="nav2 nav cur"><a href="/media/change/"><i></i>账户信息修改</a></li>
				<li class="border"></li>
				<li class="nav3 nav"><a href="/media/changePwd/"><i></i>密码修改</a></li>
				<li class="border"></li>
				<li class="nav4 nav"><a href="/media/bank/"><i></i>银行卡信息</a></li>
				<li class="border"></li>
			</ul>
		</nav>
		<div class="wrapper">
			<section class="account">
				<div class="break"><a href="/media/">联盟成员收入管理系统</a>&gt;<a>账户信息修改</a></div>
				<div class="main">
					<div class="main-header">
						账户信息修改
					</div>
					<div class="main-container">
						<div><span>邮箱：</span>{{ user.mail }}</div>
						<div><span>姓名：</span>{{ user.name }}</div>
						<div><span>个人微信ID：</span>{{ user.wechat }}</div>
						<div><span>公众号名称：</span><input type="text" value="{{ user.account }}" class="account"></div>
						<div><span>自媒体账号定位：</span><textarea class="mediatype">{{ user.mediatype }}</textarea></div>
						<div><span>自媒体介绍：</span><textarea class="mediapeople">{{ user.mediapeople }}</textarea></div>
						<div><span>用户属性介绍：</span><textarea class="mediaattribute">{{ user.mediaattribute }}</textarea></div>
						<div><span>运营者介绍：</span><textarea class="desc">{{ user.desc }}</textarea></div>
						<div><span>粉丝数：</span><input type="text" value="{{ user.fans }}" class="fans">请填写真实数据</div>
						<div><span>朋友圈通讯录：</span><input type="text" value="{{ user.social }}" class="social">请填写真实数据</div>
						<a class="submit change-button">确认修改</a>
					</div>
				</div>
			</section>
		</div>
		<footer>
			<div class="container">
				京ICP备13045368号-2 /北京市公安局朝阳分局 Copyright@2006-2015
			</div>
		</footer>
		<script src="/static/media/js/jquery.js"></script>
		<script src="/static/media/js/min/index-min.js"></script>
		<script src="/static/media/js/placeholders.min.js"></script>
	</body>
</html>
