<!DOCTYPE html>
<html>
	<head>
		<title>EDCO</title>
		{%include "meta.html"%}
		<link rel="stylesheet" type="text/css" href="/static/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/css/avatar.css">
		<link rel="stylesheet" type="text/css" href="/static/css/uploadify.css">
	</head>
	<body>
		{%include "header.html"%}
		{% if language != None and language == 'chinese' %}
		<section class="user-header">
			<div><a href="">会员</a>/<a href="">个人资料</a>/<a href="">修改头像</a></div>
		</section>
		<section class="user-main">
			<div class="user-container clearfix">
				<div class="user-l">
					<ul>
						<a href="/member/"><li class="cur">个人资料</li></a>
						<a href="/member/comment/"><li>我的评论</li></a>
					</ul>
				</div>
				<div class="user-r">
					<h3>个人资料 > 修改头像</h3>
					<div class="user-r-main">
						<input type="file" id="img-upload" name="upload"/><span class="info">仅支持JPG、PNG、GIF图片文件，且文件小于2M</span>
						<div class="img-preload">
							<img src="">
						</div>
						<a href="javascript:;" class="user-submit save">保存</a>
						<a href="javascript:;" class="user-submit cancel">取消</a>
					</div>
				</div>
			</div>
		</section>
		{% else %}
		<section class="user-header">
			<div><a href="/member/">Member</a>/<a href="/member/">Personal Information</a>/<a href="/member/changeAvatar/">change avatar</a></div>
		</section>
		<section class="user-main">
			<div class="user-container clearfix">
				<div class="user-l">
					<ul>
						<a href="/member/"><li class="cur">My Information</li></a>
						<a href="/member/comment/"><li>My Comment</li></a>
					</ul>
				</div>
				<div class="user-r">
					<h3>Personal Information > change avatar</h3>
					<div class="user-r-main">
						<input type="file" id="img-upload" name="upload"/><span class="info">only support JPG、PNG、GIF，file smaller than 2M</span>
						<div class="img-preload">
							<img src="">
						</div>
						<a href="javascript:;" class="user-submit save">Save</a>
						<a href="javascript:;" class="user-submit cancel">Cancel</a>
					</div>
				</div>
			</div>
		</section>
		{% endif %}
		{%include "footer.html"%}
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/uploadify.js"></script>
		<script src="/static/js/avatar.js"></script>
	</body>
</html>
