
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Change tech | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->


<meta name="robots" content="NONE,NOARCHIVE" />
<script>
    {% if status == 1 %}
        alert("保存成功");
    {% endif %}
</script>
</head>


<body class="edco-tech change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Django administration</h1>

        </div>
        
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Change tech</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="/root/saveColor/" method="post" id="color_form"><input type='hidden' name='csrfmiddlewaretoken' value='cORHKPJaUNGW0ulf2iRldcVNZLlSN7Bf' />
<div>






  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-color1">
            
            
                <div>
                    
                    
                        <label for="id_color1">Color1:</label>
                        
                            <input class="vTextField" id="id_color1" maxlength="100" name="color1" type="text" value="{{ item.color1 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color2">
            
            
                <div>
                    
                    
                        <label for="id_color2">Color2:</label>
                        
                            <input class="vTextField" id="id_color2" maxlength="100" name="color2" type="text" value="{{ item.color2 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color3">
            
            
                <div>
                    
                    
                        <label for="id_color3">Color3:</label>
                        
                            <input class="vTextField" id="id_color3" maxlength="100" name="color3" type="text" value="{{ item.color3 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color4">
            
            
                <div>
                    
                    
                        <label for="id_color4">Color4:</label>
                        
                            <input class="vTextField" id="id_color4" maxlength="100" name="color4" type="text" value="{{ item.color4 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color5">
            
            
                <div>
                    
                    
                        <label for="id_color5">Color5:</label>
                        
                            <input class="vTextField" id="id_color5" maxlength="100" name="color5" type="text" value="{{ item.color5 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color6">
            
            
                <div>
                    
                    
                        <label for="id_color6">Color6:</label>
                        
                            <input class="vTextField" id="id_color6" maxlength="100" name="color6" type="text" value="{{ item.color6 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color7">
            
            
                <div>
                    
                    
                        <label for="id_color7">Color7:</label>
                        
                            <input class="vTextField" id="id_color7" maxlength="100" name="color7" type="text" value="{{ item.color7 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color8">
            
            
                <div>
                    
                    
                        <label for="id_color8">Color8:</label>
                        
                            <input class="vTextField" id="id_color8" maxlength="100" name="color8" type="text" value="{{ item.color8 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color9">
            
            
                <div>
                    
                    
                        <label for="id_color9">Color9:</label>
                        
                            <input class="vTextField" id="id_color9" maxlength="100" name="color9" type="text" value="{{ item.color9 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color10">
            
            
                <div>
                    
                    
                        <label for="id_color10">Color10:</label>
                        
                            <input class="vTextField" id="id_color10" maxlength="100" name="color10" type="text" value="{{ item.color10 }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color11">
            
            
                <div>
                    
                    
                        <label for="id_color11">Color11:</label>
                        
                            <input class="vTextField" id="id_color11" maxlength="100" name="color11" type="text" value="{{ item.color11 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color12">
            
            
                <div>
                    
                    
                        <label for="id_color12">Color12:</label>
                        
                            <input class="vTextField" id="id_color12" maxlength="100" name="color12" type="text" value="{{ item.color12 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color13">
            
            
                <div>
                    
                    
                        <label for="id_color13">Color13:</label>
                        
                            <input class="vTextField" id="id_color13" maxlength="100" name="color13" type="text" value="{{ item.color13 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color14">
            
            
                <div>
                    
                    
                        <label for="id_color14">Color14:</label>
                        
                            <input class="vTextField" id="id_color14" maxlength="100" name="color14" type="text" value="{{ item.color14 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color15">
            
            
                <div>
                    
                    
                        <label for="id_color15">Color15:</label>
                        
                            <input class="vTextField" id="id_color15" maxlength="100" name="color15" type="text" value="{{ item.color15 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color16">
            
            
                <div>
                    
                    
                        <label for="id_color16">Color16:</label>
                        
                            <input class="vTextField" id="id_color16" maxlength="100" name="color16" type="text" value="{{ item.color16 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color17">
            
            
                <div>
                    
                    
                        <label for="id_color17">Color17:</label>
                        
                            <input class="vTextField" id="id_color17" maxlength="100" name="color17" type="text" value="{{ item.color17 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color18">
            
            
                <div>
                    
                    
                        <label for="id_color18">Color18:</label>
                        
                            <input class="vTextField" id="id_color18" maxlength="100" name="color18" type="text" value="{{ item.color18 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color19">
            
            
                <div>
                    
                    
                        <label for="id_color19">Color19:</label>
                        
                            <input class="vTextField" id="id_color19" maxlength="100" name="color19" type="text" value="{{ item.color19 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-color20">
            
            
                <div>
                    
                    
                        <label for="id_color20">Color20:</label>
                        
                            <input class="vTextField" id="id_color20" maxlength="100" name="color20" type="text" value="{{ item.color20 }}"/>
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>

<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
</div>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
