<!DOCTYPE html>
<html>
	<head>
		<title>EDCO</title>
		{%include "meta.html"%}
		<link rel="stylesheet" type="text/css" href="/static/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/css/promotion.css">
	</head>
	<body>
		{%include "header.html"%}
		<section class="img">
			<h3>IMAGE DOWNLOAD</h3>
			<ul class="clearfix">
				<li><img src="/static/images/brand.jpg"></li>
				<li><img src="/static/images/brand2.jpg"></li>
				<li><img src="/static/images/brand3.jpg"></li>
				<li><img src="/static/images/brand.jpg"></li>
				<li><img src="/static/images/brand2.jpg"></li>
				<li><img src="/static/images/brand3.jpg"></li>
			</ul>
		</section>
		<section class="activity clearfix">
			<h3>ACTIVITY PLAN</h3>
			<div class="activity-l">
				<ul class="act-list">
					<li>
						<h4>A scm plan</h4>
						<p>is the state-of-the-art temperature management system exclusively developed by EDCO for outdoor products. Efficient warm interlayer material comprehensively strengthens the warm-keeping ability.
The efficient warm interlayer material consists of unique fiber structure and stuffing, creating a better warm-keeping ability. With industry’s higher thermal coefficient per gram, the texture becomes lighter, more comfortable and easier to handle with while the warmth is guaranteed. 
						</p>
						<p class="clearfix"><a href="">more</a></p>
					</li>
					<li>
						<h4>A scm plan</h4>
						<p>is the state-of-the-art temperature management system exclusively developed by EDCO for outdoor products. Efficient warm interlayer material comprehensively strengthens the warm-keeping ability.
The efficient warm interlayer material consists of unique fiber structure and stuffing, creating a better warm-keeping ability. With industry’s higher thermal coefficient per gram, the texture becomes lighter, more comfortable and easier to handle with while the warmth is guaranteed. 
						</p>
						<p class="clearfix"><a href="">more</a></p>
					</li>
					<li>
						<h4>A scm plan</h4>
						<p>is the state-of-the-art temperature management system exclusively developed by EDCO for outdoor products. Efficient warm interlayer material comprehensively strengthens the warm-keeping ability.
The efficient warm interlayer material consists of unique fiber structure and stuffing, creating a better warm-keeping ability. With industry’s higher thermal coefficient per gram, the texture becomes lighter, more comfortable and easier to handle with while the warmth is guaranteed. 
						</p>
						<p class="clearfix"><a href="">more</a></p>
					</li>
				</ul>
				<div class="public">
					<h3>PUBLIC</h3>
					<ul>
						<li>
							<img src="/static/images/brand.jpg">
							<h4>A scm plan</h4>
						<p>is the state-of-the-art temperature management system exclusively developed by EDCO for outdoor products. Efficient warm interlayer material comprehensively strengthens the warm-keeping ability.
The efficient warm interlayer material consists of unique fiber structure and stuffing, creating a better warm-keeping ability. With industry’s higher thermal coefficient per gram, the texture becomes lighter, more comfortable and easier to handle with while the warmth is guaranteed. 
						</p>
						</li>
						<li>
							<img src="/static/images/brand.jpg">
							<h4>A scm plan</h4>
						<p>is the state-of-the-art temperature management system exclusively developed by EDCO for outdoor products. Efficient warm interlayer material comprehensively strengthens the warm-keeping ability.
The efficient warm interlayer material consists of unique fiber structure and stuffing, creating a better warm-keeping ability. With industry’s higher thermal coefficient per gram, the texture becomes lighter, more comfortable and easier to handle with while the warmth is guaranteed. 
						</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="activity-r">
				<img src="/static/images/brand.jpg">
			</div>
		</section>
		{%include "footer.html"%}
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/common.js"></script>
	</body>
</html>
