<!DOCTYPE html>
<html>
	<head>
		<title>EDCO</title>
		{%include "meta.html"%}
		<link rel="stylesheet" type="text/css" href="/static/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/css/technology.css">
	</head>
	<body>
		{%include "header.html"%}
		<section>
			{% if item.tech1 != "" %}
				<img src="/static/upload/images/{{ item.tech1 }}">
			{% endif %}
			{% if item.tech2 != "" %}
				<img src="/static/upload/images/{{ item.tech2 }}">
			{% endif %}
			{% if item.tech3 != "" %}
				<img src="/static/upload/images/{{ item.tech3 }}">
			{% endif %}
			{% if item.tech4 != "" %}
				<img src="/static/upload/images/{{ item.tech4 }}">
			{% endif %}
			{% if item.tech5 != "" %}
				<img src="/static/upload/images/{{ item.tech5 }}">
			{% endif %}
			{% if item.tech6 != "" %}
				<img src="/static/upload/images/{{ item.tech6 }}">
			{% endif %}
			{% if item.tech7 != "" %}
				<img src="/static/upload/images/{{ item.tech7 }}">
			{% endif %}
			{% if item.tech8 != "" %}
				<img src="/static/upload/images/{{ item.tech8 }}">
			{% endif %}
			{% if item.tech9 != "" %}
				<img src="/static/upload/images/{{ item.tech9 }}">
			{% endif %}
			{% if item.tech10 != "" %}
				<img src="/static/upload/images/{{ item.tech10 }}">
			{% endif %}
			{% if item.tech11 != "" %}
				<img src="/static/upload/images/{{ item.tech11 }}">
			{% endif %}
			{% if item.tech12 != "" %}
				<img src="/static/upload/images/{{ item.tech12 }}">
			{% endif %}
			{% if item.tech13 != "" %}
				<img src="/static/upload/images/{{ item.tech13 }}">
			{% endif %}
			{% if item.tech14 != "" %}
				<img src="/static/upload/images/{{ item.tech14 }}">
			{% endif %}
			{% if item.tech15 != "" %}
				<img src="/static/upload/images/{{ item.tech15 }}">
			{% endif %}
			{% if item.tech16 != "" %}
				<img src="/static/upload/images/{{ item.tech16 }}">
			{% endif %}
			{% if item.tech17 != "" %}
				<img src="/static/upload/images/{{ item.tech17 }}">
			{% endif %}
			{% if item.tech18 != "" %}
				<img src="/static/upload/images/{{ item.tech18 }}">
			{% endif %}
			{% if item.tech19 != "" %}
				<img src="/static/upload/images/{{ item.tech19 }}">
			{% endif %}
			{% if item.tech20 != "" %}
				<img src="/static/upload/images/{{ item.tech20 }}">
			{% endif %}
		</section>
		{%include "footer.html"%}
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/common.js"></script>
	</body>
</html>
