
.main{width: 100%;height: 100%;overflow: hidden;position: relative;}
.main li{width: 100%;height: 100%;position: absolute;left: 0;top:100%;overflow: hidden;}
.main li:nth-child(1){top: 0;background:;}

.dimg{width: 100%;height: 100%;position: absolute;left: 0;top: 50%;
	-webkit-transform:translateY(-50%);
}

.music{width: 12.5%;position: fixed;bottom: 20px;right: 20px;z-index: 30;}
.music img{width: 100%;opacity: 0.5;}
.pause{display: none;}

.m0_but{position: absolute;width: 43.2%;left:28.4%;top: 72%;}

.m4_yy{position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;background:rgba(0,0,0,0.7);}
.m4_yy img{width: 100%;position: absolute;left: 0;top: 50%;-webkit-transform:translateY(-50%);}
.m4_lyq{position: absolute;width: 76%;left: 12%;top:27%;}
.m4_j{position: absolute;width: 12.6%;opacity: 0;}
.m4_jb01{left: 10%;top: 47%;}
.m4_jb02{left: 30%;top: 42%;}
.m4_jb03{left: 15%;top: 27%;}
.m4_jb04{left: 80%;top: 42%;}
.m4_jb05{left: 84%;top: 67%;}

.m4_j.selected{
	-webkit-animation:m4_jb01 0.2s linear;
	-webkit-animation-fill-mode:both;
}
@-webkit-keyframes m4_jb01 {
  from {
    opacity:0;
    -webkit-transform:translateY(20px);
    }
  to {
	opacity:1;
	-webkit-transform:translateY(0px);
    }
}

.m6_but1{position: absolute;width: 42.6%;left: 8%;top: 70%;}
.m6_but2{position: absolute;width: 42.6%;left: 8%;top: 76%;}
.m7_but{position: absolute;width: 32.8%;right:10%;top: 70%;}


.m8_con{width: 100%;height: 60%;position: absolute;left: 0;top:40%;}
.m8_con form{}
.m8_con form p{width: 80%;height: 50px;margin-left: 10%;margin-bottom: 20px;}
.m8_con form p input{font-size: 16px;background: none;border:none;height:30px;margin-left: 30%;width: 70%;}
.m8_con form p:first-child{background: url(../images/m8_input_bg1.png) no-repeat left top;background-size:100%;}
.m8_con form p:nth-child(2){background: url(../images/m8_input_bg2.png) no-repeat left top;background-size:100%;}
.m8_go{}
.m8_go img{width: 40%;display: block;margin: 0 auto;}


.lyq_share{width: 100%;height: 100%;position: fixed;z-index: 90;background: rgba(0,0,0,0.9);display: none;}
.lyq_share img{width: 62%;position: absolute;top: 15%;right: 10%;}



.m_down{width: 5.6%;position: fixed;left: 50%;bottom: 20px;margin-left: -2.8%;
  
    -webkit-transform:rotate(180deg);

    -webkit-animation-name: 'mymove';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
}
@-webkit-keyframes mymove {
  from {
    bottom: 2%; }

  to {
    bottom: 6%; }
}


.ok_bg{position: fixed;width: 100%;height: 100%;z-index: 120;background: rgba(0,0,0,0.9);display: none;}
.ok_bg img{width: 100%;}

.shar_form{position: fixed;width: 100%;height: 100%;left: 0;top: 0;z-index: 100;background: #000;display: none;}

.gz{position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: #000;z-index: 80;display: none;}
.gz_img01{width: 100%;left: 0;top: 0;}



