<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="css/p3.css" />
<title>p0</title>
</head>

<body>
<div id="pagewrap">
	<header class="prize_header">
		<h1 class="prize_h1">恭喜您，抢到啦</h1>
		<h1 class="prize_h1">您的奖品</h1>
	</header>
	<div class="prize_code_box">
		<div class="prize_code_main">
			<h1 class="prize_code_text">京东50元电子券</h1>
			<h1 class="prize_code_number">3434DF132</h1>
		</div>
	</div>
	<div class="prize_notice">
		<h1 class="notice_title">奖品使用说明</h1>
		<p class="notice_p">1.京东卡绑定账户后，只能当前账户使用，不能跨账户使用；</p>
		<p class="notice_p">2.京东卡有效期一般为36个月，请您在有效期内尽快使用；</p>
		<p class="notice_p">3.订单金额中使用京东卡支付的部分，将不开出发票；</p>
		<p class="notice_p">4.退货时，京东卡支付部分退回原京东卡内，不予兑换；</p>
		<p class="notice_p">5.单张京东卡多次使用；每笔订单可以使用多张京东卡，但个别情况下由于浏览器的不同，一次使用多张京东卡的张数不定，最多为49张；京东卡不可兑换现金。</p>
	</div>
</div>
</body>
</html>
