<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="css/p2.css" />
<title>p2</title>
</head>

<body>
<div id="pagewrap">
	<article>
		<header class="sso_header">
			<h1 class="sso_h1">一大波“苹果”正在砸向你,</h1>
			<h1 class="sso_h1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;快快来抢！</h1>
		</header>
		<figure class="sso_img">
			<img src="images/apple_more.jpg" />
		</figure>
	</article>
	<div class="sso_main">
		<div class="sso_btn">
			<input type="image" src="images/qiang_blue.png" width="100%" height="100%"/>
		</div>
		<div class="sso_code">
			<a href="#">查看我的兑奖码</a>
		</div>
	</div>
</div>
</body>
</html>
