<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="css/p6.css" />
<title>p6</title>
</head>

<body>
<div id="pagewrap">
	<article class="content">
		<p class="title_text">曾经有一个拥有"苹果"的机会摆在我的面前，我没有珍惜，等到失去的时候我才后悔莫及…如果上天再给我一次机会……
哎呀！！ 天上掉"苹果"啦！！</p>
		<div class="follow_wx">
			关注Simplification官方微信,GEHC喊你来拣"苹果"！				
		</div>
<!--		<div class="follow_wx">
			<div style="float:left;">关注Simplification官方微信，GEHC喊你来拣"苹果"！</div>
			<div style="float:left"><img src="images/face.jpg"></div>		
			<div style="clear:left"></div>		
		</div>-->
		<p class="normal_text">一大波"苹果"正从天上快速靠近，速度十足！ 惊喜十足！ 还在等什么？！关注Simplification官方微信，绑定SSO账号，绑定人气每到达一定数额，即开放一次抢"苹果"机会，每个"苹果"内均有惊喜。快来参与，大家一起拣"苹果"！</p>
		<div class="time_notice">天上何时掉"苹果"</div>
		<p class="title_bo">第一波</p>
		<p class="normal_text">Simplification官方微信关注且绑定SSO号人数达到300时，100个"苹果"从天而降！每个"苹果"含20元京东商城电子券。</p>
		<p class="title_bo">第二波</p>
		<p class="normal_text">Simplification官方微信关注且绑定SSO号人数达到1000，500个"苹果"从天而降！每个"苹果"含50元京东商城电子券。</p>
		<p class="title_bo">第三波</p>
		<p class="normal_text">Simplification官方微信关注且绑定SSO号人数达到1500，150个"苹果"从天而降！每个"苹果"含10元京东商城电子券。而且还会有一个苹果的产品随机出现哦，你还在等什么？！</p>
		<div class="tip_title">如何快速捡"苹果"</div>
		<p class="step_text"><span class="title_text">第一步：</span>关注Simplification官方微信，绑定SSO号</p>
		<figure class="step_img">
			<img src="images/step1.jpg" />
		</figure>
		<p class="step_text"><span class="title_text">第二步：</span>点击官方微信下方"热点活动-》天上掉苹果"栏目进入活动页面，即可查询当前绑定人数，参与抢"苹果"活动！绑定人数到达300、1000、1500时，"抢苹果"活动将自动开启。先抢先得，抢完为止！</p>	
		<figure class="step_img">
			<img src="images/step2.jpg" />
		</figure>
		<div class="tip_tag">想要更快速地抢到"苹果"么？快快行动，喊你的同事一起关注Simplification官方微信，人气聚集越快，活动开启越快！随时关注人气动态，惊喜"苹果"就会属于你！</div>
		<div class="declare_title">活动说明：</div>
		<div class="declare_content">1.活动时间：2014年4月7日至4月30日</div>
		<div class="declare_content">2.同一SSO号同一时间段只能参与一次活动</div>
		<div class="declare_content">3.所有礼品均为电子礼券，抢到"苹果时"系统将自动推送礼券编码。</div>
	</article>
</div>
</body>
</html>
