/* =Reset
-----------------------------------------------------------------------------*/
html {
  color: #000;
  background: #FFF;
  font-family: 'Microsoft Yahei',Arial; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: normal;
  font-weight: normal; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-size: medium;
  font-style: normal;
  font-weight: normal; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/* =General
-----------------------------------------------------------------------------*/
/* Class for clearing floats */
.clearfix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

* html .clear {
  height: 1%; }

.clearfix {
  display: block; }

/* End clearing floats */
.zoom {
  zoom: 1; }

.hidden {
  visibility: hidden; }

.none {
  display: none; }

a:link, a:visited {
  text-decoration: none; }

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: url(../images/loading.gif) center center no-repeat;
  background-color: white; }

.red {
  color: red; }

.main {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../images/bg.png) repeat; }
  .main .top {
    width: 100%;
    display: block; }
  .main .container {
    position: relative;
    z-index: 9;
    margin-top: -10px; }
    .main .container .rule-btn {
      width: 83px;
      position: absolute;
      right: 0;
      top: -20px; }
    .main .container p {
      padding-left: 20px;
      font-size: 12px; }
    .main .container .words {
      width: 260px;
      height: 140px;
      margin: 0 auto;
      margin-top: -10px;
      position: relative; }
      .main .container .words a {
        position: absolute;
        top: 0;
        left: 0;
        display: block; }
      .main .container .words .words-select {
        width: 100%;
        height: 50px;
        background: white;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 9999;
        box-shadow: 8px 8px 5px #a2a2a2;
        display: none; }
        .main .container .words .words-select div.words-con {
          margin-right: 60px;
          text-align: center; }
        .main .container .words .words-select .select-word {
          margin-top: 16px;
          max-width: 205px;
          margin-left: -8px; }
        .main .container .words .words-select div.num-con {
          position: absolute;
          right: 2px;
          top: 11px; }
        .main .container .words .words-select .zan {
          width: 30px;
          margin-right: 3px; }
        .main .container .words .words-select .zan-num {
          font-size: 20px;
          font-weight: 600;
          color: #414e9d; }
    .main .container .input {
      width: 250px;
      height: 37px;
      background: url(../images/input.png) no-repeat;
      background-size: 100%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 5px; }
      .main .container .input input {
        background: none;
        border: none;
        outline: none;
        position: absolute;
        top: 6px;
        left: 60px;
        width: 120px;
        height: 20px;
        color: black;
        font-size: 12px; }
      .main .container .input a {
        width: 46px;
        height: 25px;
        position: absolute;
        top: 5px;
        right: 10px; }
    .main .container .icons {
      padding-left: 20px; }
      .main .container .icons img {
        display: inline-block;
        width: 52px;
        margin-right: 5px; }
  .main .footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0; }
  .main .bottom {
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 5%;
    border-bottom: 1px solid #919191;
    text-align: right; }
    .main .bottom span {
      display: inline-block;
      font-size: 12px;
      margin-left: 20px; }
  .main .bottom-logo {
    width: 25%;
    height: 50px;
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 99; }

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  display: none; }
  .modal .modal-container {
    width: 90%;
    margin: 50px 5% 0 5%;
    background: white;
    border-radius: 5px;
    position: relative;
    padding: 50px 0 20px 0; }
    .modal .modal-container .logo {
      position: absolute;
      top: 10px;
      left: 10px; }
    .modal .modal-container .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px; }
    .modal .modal-container .modal-con {
      padding: 0 10px;
      margin-bottom: 20px;
      width: auto;
      font-size: 12px;
      line-height: 20px;
      max-height: 250px;
      overflow: hidden; }
      .modal .modal-container .modal-con > div {
        padding-bottom: 20px; }
      .modal .modal-container .modal-con img {
        width: 77px;
        display: block;
        margin: 0 auto 10px auto; }
        .modal .modal-container .modal-con img.success {
          width: 107px;
          margin-top: 30px; }
        .modal .modal-container .modal-con img.thanks {
          width: 140px; }
        .modal .modal-container .modal-con img.prize-img {
          height: 250px;
          width: auto; }
    .modal .modal-container .modal-btn {
      width: 106px;
      height: 24px;
      background: #004086;
      border-radius: 3px;
      line-height: 24px;
      text-align: center;
      color: white;
      font-size: 12px;
      display: block;
      margin: 10px auto 0px auto; }
  .modal.modal3 {
    text-align: center; }
    .modal.modal3 .modal-container .modal-con > div > div {
      padding-top: 10px; }
      .modal.modal3 .modal-container .modal-con > div > div input {
        outline: none;
        border-radius: 3px; }
    .modal.modal3 .modal-container .modal-btn {
      display: inline-block;
      margin: 0 8px; }

.share {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none; }
  .share img {
    width: 164px;
    position: absolute;
    top: 0;
    right: 0; }

.signup {
  background: url(../images/sign-bg.jpg) repeat;
  background-size: 100%; }
  .signup img {
    width: 100%; }
    .signup img.sign-bottom {
      position: absolute;
      left: 0;
      bottom: 0; }
  .signup > div {
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 99; }
    .signup > div input {
      width: 174px;
      height: 24px;
      margin-left: 5px;
      border: 2px solid #545454;
      padding: 0 5px;
      outline: none;
      border-radius: 3px; }
    .signup > div a.sign-btn {
      width: 80px;
      height: 28px;
      border-radius: 3px;
      background: #555555;
      line-height: 28px;
      text-align: center;
      color: white;
      font-size: 12px;
      display: inline-block; }
  .signup .back-index {
    text-decoration: underline;
    font-size: 16px;
    display: block;
    margin: 10px auto 0 auto;
    color: #555555;
    text-align: center;
    position: relative;
    z-index: 99; }

.pt-page {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pt-page-delay200 {
  -webkit-animation-delay: .5s; }

.pt-page-current {
  visibility: visible; }

.pt-page-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both; }

@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }
@keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }
.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both; }

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
